# Codeowners to all the files
* @gbaranov
* @SergeDot
* @lanasussman

# Codeowners to all the workflows
.github/ @Elgrueber
.github/ @Rom-T
.github/ @Keldieva
.github/ @OlgaAutomation4
.github/ @sashakolsky
